
$primary-font: 'Playfair Display', serif;
$secondary-font: "League Spartan";
$text-font: 'Poppins', sans-serif;


$primary-color: #5da8ef;
$secondary-color: #333333;
$title-color: #0b0c11;
$text-color: #616161;
$navigation-color: #262626;
$price-color: #ce60a8;
$number-color: #f3f3f3;
$social-icon-color: #ebebeb;



$input-bg-color: #f5f5f5;