@import '_reset';
@import '_animation';

/*-- Navbar CSS Start --*/

.header{
    background: #fff;
}
.navbar{
    background: #fff;
    transition: 0.1s ease-in-out;
    padding: 1rem 0;
    
    .navbar-toggler{
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        border: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        visibility: hidden;
        &:focus{
            box-shadow: none;
        }
        .bar{
            width: 100%;
            height: 2px;
            background: #0b0c11;
            position: relative;
            left: 0;
            transition: all 0.3s ease;
            &::before{
                content: "";
                position: absolute;
                background: #0b0c11;
                width: 100%;
                height: 2px;
                bottom: 10px;
                left: 0;
                transition: 0.3s ease;
            }
            &::after{
                content: "";
                position: absolute;
                background: #0b0c11;
                width: 100%;
                height: 2px;
                top: 10px;
                left: 0;
                transition: 0.3s ease;
            }
        }
        
    }
    @include mq (991.98px){
        .navbar-toggler{
            visibility: visible;
        }
    }
    .open{
        .bar{
            background: transparent;
            &::before{
                transform: rotate(45deg);
                bottom:0;
            }
            &::after{
                transform: rotate(-45deg);
                top: 0;
            }
        }
    }
    .navbar-nav{
        margin-left: 19rem;
        font-family: $secondary-font;
        font-size: 1.4rem;
        letter-spacing: 0.5rem;
        .nav-link{
            margin-right: 2.5rem;
            color: $title-color;
            &:hover{
                color: $primary-color;
            }
        }
    }
    @include mq (991.98px) {
        .navbar-nav{
            margin-left: 0;
            padding: 3rem 0;
            .nav-link{
                padding: 1rem 0;
                font-size: 1.6rem;
            }
        }
    }
}
@include mq (991.98px) {
    .navbar{
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        box-shadow: 0 0 3rem 0 #0000001e !important;
    }
}
/*-- Navbar CSS End --*/

/*-- Hero Section CSS Start --*/
.hero-section{
    position: relative;
    padding-top: 14rem;
    .hero-img{
        box-shadow: 0 0 3rem 0 #0000004d;
    }
    @include mq (767.98px) {
        .hero-img{
            margin-top: 3rem;
        }
    }
    
    .hero-text{
        position: absolute;
        top: 43%;
        transform: translateY(-50%);
        z-index: 2;
        h3{
            @extend .section-sub-title;
        }
        @include mq (767.98px) {
            h3{
                margin-bottom: 0 !important;
                letter-spacing: 0.6rem;
            }
        }
        .hero-title{
            font-family: $primary-font;
            font-size: 6.2rem;
            font-weight: 700;
            color: $title-color;
        }
        @include mq (991.98px) {
            .hero-title{
                font-size: 5rem;
            }
        }
        @include mq (767.98px) {
            .hero-title{
                font-size: 3rem;
            }
        }
        @include mq (575.98px) {
            .hero-title{
                font-size: 4rem;
            }
        }
        .hero-desc{
            font-size: 1.4rem;
            width: 43%;
        }
        @include mq (767.98px) {
            .hero-desc{
                width: 100%;
                margin-top: 0 !important;
            }
        }
        @include mq (575.98px) {
            .hero-desc{
                width: 100%;
            }
        }
    }
    @include mq (991.98px) {
        .hero-text{
            top: 50%;
        }
    }
    @include mq (767.98px) {
        .hero-text{
            position: relative;
            width: 100%;
            top: 50%;
        }
    }
}
@include mq (991.98px) {
    .hero-section{
        margin-top: 3rem;
        padding-top: 10rem;
    }
}
@include mq (575.98px) {
    .hero-section{
        padding-top: 8rem;
    }
}
/*-- Hero Section CSS End --*/

/*-- Quote Section CSS Start --*/
.quote-section{
    @extend section;
    .quote{
        font-family: $primary-font;
        font-size: 2.6rem;
        line-height: 3.8rem;
        width: 50%;
    }
    @include mq (767.98px) {
        .quote{
            width: 80%;
            font-size: 2.2rem;
        }
    }
    @include mq (575.98px) {
        .quote{
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }
    .quote-author{
        font-family: $secondary-font;
        font-size: 1.4rem;
        letter-spacing: 0.7rem;
        color: $secondary-color;
        position: relative;
        &::after{
            content: "";
            top: calc(100% + 5.2rem);
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            width: 0.2rem;
            height: 10rem;
            background: $primary-color;
        }
        @include mq (991.98px) {
            &::after{
                height: 5rem;
            }
        }
    }
}
/*-- Quote Section CSS End --*/

/*-- Story Section CSS Start --*/
.story-section{
    @extend section;
    margin-top: 6.4rem;
    .container{
        position: relative;
        .video{
            position: absolute;
            padding-right: 0.75rem;
            right: 0;
            top: 15%;
            &:hover .play-btn{
                opacity: 1 !important;
            }
            .play-btn{
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #5dabef;
                border: none;
                color: #fff;
                i{
                    font-size: 1.5rem;
                }
            }
            video{
                width: 700px;
            }
            @include mq (1199.98px) {
                video{
                    width: 550px;
                }
            }
            @include mq (991.98px) {
                video{
                    width: 400px;
                }
            }
            @include mq (767.98px) {
                video{
                    width: 100%;
                }
            }
        }
        @include mq (1199.98px) {
            .video{
                top: 25%;
            }
        }
        @include mq (767.98px) {
            .video{
                position: relative;
                padding-right: 0;
            }
        }
        .story-text{
            width: 90%;
            font-weight: 300;
            font-size: 1.4rem;
        }
        @include mq (991.98px) {
            .story-text{
                width: 40%;
            }
        }
        @include mq (767.98px) {
            .story-text{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
    }   
}
@include mq (767.98px) {
    .story-section{
        text-align: center;
    }
}
/*-- Story Section CSS End --*/

/*-- Shop Section CSS Start --*/
.shop-section{
    h3{
        @extend .section-sub-title;
    }
    .item{
        figure{
            position: relative;
            width: 20rem;
            &::before{
                content: "";
                width: 20rem;
                height: 32rem;
                position: absolute;
                background: #ececec;
                bottom:0%;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
            @include mq (1199.98px) {
                &::before{
                    width: 15rem;
                    left: 40%;
                    height: 25rem;
                }
            }
            @include mq (599.98px) {
                &::before{
                    margin-left: 3rem;
                }
            }
            @include mq (349.98px) {
                &::before{
                    margin-left: 1rem;
                }
            }
            img{
                width: 20rem;
            }
            @include mq (1199.98px) {
                img{
                    width: 15rem;
                }
            }
            @include mq (599.98px) {
                img{
                    margin-left: 3rem;
                }
            }
            @include mq (349.98px) {
                img{
                    margin-left: 1rem;
                }
            }
        }
        .board-info{
            position: absolute;
            top: 40%;
            left: 48%;
            .board-sub-title{
                font-family: $text-font;
                font-size: 1.2rem;
                margin-bottom: 0;
            }
            .board-title{
                font-family: $primary-font;
                color: $secondary-color;
                font-size: 2.6rem;
            }
            .price{
                font-size: 2rem;
                color: #ce60a8;
                margin-top: 3rem;
                margin-left: 5rem;
            }
            .shop-btn{
                @extend .primary-btn;
                margin-left: 5rem;
            }
            @include mq (1199.98px) {
                .price,
                .shop-btn{
                    margin-left: 2rem;
                }
            }
            @include mq (991.98px) {
                .price,
                .shop-btn{
                    margin-left: 3rem;
                }
            }
            
        }
        @include mq (1199.98px) {
            .board-info{
                top: 30%;
            }
        }
        @include mq (991.98px) {
            .board-info{
                left: 40%;
            }
        }
        @include mq (767.98px) {
            .board-info{
                left: 55%;
            }
        }
        @include mq (599.98px) {
            .board-info{
                left: 40%;
            }
        }
        @include mq (399.98px) {
            .board-info{
                left: 50%;
            }
        }
    }
    
    .owl-next,
    .owl-prev{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        height: 100%;
        width: 5rem;
        padding: 0rem 5rem;
        i{
            font-size: 2rem;
        }
    }
    .owl-prev{
        left: -5%;
    }
    
    @include mq (991.98px) {
        .owl-prev{
            left: -8%;
        }
    }
    @include mq (819.98px) {
        .owl-prev{
            left: -5%;
        }
    }
    @include mq (767.98px) {
        .owl-prev{
            left: -8%;
        }
    }
    @include mq (599.98px) {
        .owl-prev{
            left: -5%;
        }
    }
    .owl-next{
        right: -5%;
    }
    
    @include mq (991.98px) {
        .owl-next{
            right: -8%;
        }
    }
    @include mq (819.98px) {
        .owl-next{
            right: -5%;
        }
    }
    @include mq (767.98px) {
        .owl-next{
            right: -8%;
        }
    }
    @include mq (599.98px) {
        .owl-next{
            right: -5%;
        }
    }
    .owl-next:hover{
        background: none !important;
        color: $primary-color !important;
    }
    .owl-prev:hover{
        background: none !important;
        color: $primary-color !important;
    }
}
/*-- Shop Section CSS End --*/

/*-- Training Section CSS Start --*/
.training-section{
    .training-btn{
        @extend .primary-btn;
        display: inline-block !important;
    }
    .training-caption{
        @extend .caption;
        top: 45px;
        right: -80px;
    }
    @include mq (1019.98px) {
        .training-caption{
            right: -65px;
        }
    }
    @include mq (991.98px) {
        .training-caption{
            right: -70px;
        }
    }
    @include mq (767.98px) {
        .training-caption{
            right: -65px;
        }
    }
}
/*-- Training Section CSS End --*/

/*-- Point Break Section CSS Start --*/
.point-break-section{
    .point-break-caption{
        @extend .caption;
        top: 45px;
        left: -80px;
    }
    @include mq (1019.98px) {
        .point-break-caption{
            left: -65px;
        }
    }
    @include mq (991.98px) {
        .point-break-caption{
            left: -70px;
        }
    }
    @include mq (767.98px) {
        .point-break-caption{
            left: -65px;
        }
    }
    @include mq (575.98px) {
        .point-break-caption{
            left: -60px;
        }
    }
    .point-break-btn{
        @extend .primary-btn;
    }
}
/*-- Point Break Section CSS End --*/

/*-- Join Club Section CSS Start --*/
.join-club-section{
    margin-top: 7rem;
    .section-title{
        position: relative;
        &::after{
            content: "";
            bottom: calc(100% + 5.2rem);
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            width: 0.2rem;
            height: 10rem;
            background: $primary-color;
        }
        @include mq (991.98px) {
            &::after{
                height: 5rem;
            }
        }
    }
    .section-desc{
        width: 52%;
        margin: auto;
    }
    @include mq (575.98px) {
        .section-desc{
            width: 80%;
        }
    }
    @include mq (399.98px) {
        .section-desc{
            width: 100%;
        }
    }
    form{
        input{
            width: 54rem;
            height: 5rem;
            font-family: $text-font;
            font-size: 1.6rem;
            padding: 0rem 1.5rem;
            border: none;
            background: #f0f0f0;
            color: $secondary-color;
            font-weight: bold;
            letter-spacing: 0.05rem;
            &::placeholder{
                font-family: $secondary-font;
                color: $secondary-color;
                font-size: 1.6rem;
                letter-spacing: 0.5rem;
            }
            &:focus{
                outline: none;
            }
        }
        @include mq (991.98px) {
            input{
                width: 40rem;
            }
        }
        @include mq (767.98px) {
            input{
                width: 30rem;
                height: 4.5rem;
                font-size: 1.4rem;
                &::placeholder{
                    font-size: 1.4rem;
                }
            }
        }
        @include mq (399.98px) {
            input{
                width: 23rem;
                height: 4rem;
                padding: 0 0.5rem !important;
            }
        }
        .join-btn{
            width: 5rem;
            height: 5rem;
            margin-left: -0.1rem;
            border: none;
            background: $primary-color;
            &:hover{
                background: #398fe1;
            }
        }
        @include mq (767.98px) {
            .join-btn{
                width: 4.5rem;
                height: 4.5rem;
            }
        }
        @include mq (399.98px) {
            .join-btn{
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
/*-- Join Club Section CSS End --*/

/*-- Camp Section CSS Start --*/
.camp-section{
    .camp-caption{
        font-family: $secondary-font;
        font-size: 1.2rem;
        color: rgba($color: #0b0c11, $alpha: 0.2);
        letter-spacing: 0.5rem;
    }
    .camp-loc{
        @extend .section-title;
        font-size: 3.2rem;
        line-height: 4.6rem;
    }
    @include mq (991.98px) {
        .camp-loc{
            font-size: 2.8rem;
            line-height: 3.8rem;
        }
    }
    @include mq (767.98px) {
        .camp-loc{
            line-height: 3.8rem;
        }
    }
    .camp-btn{
        @extend .primary-btn;
    }
}
/*-- Camp Section CSS End --*/

/*-- Footer CSS Start --*/
.footer-area{
    .footer-menu{
        .footer-link{
            font-family: $secondary-font;
            color: $secondary-color;
            font-size: 1.4rem;
            line-height: 22px;
            letter-spacing: 0.5rem;
            &:hover{
                color: $primary-color;
            }
        }
    }
    .footer-social{
        .footer-social-link{
            font-size: 1.6rem;
            color: rgba($color: #0b0c11, $alpha: 0.2);
            &:hover{
                color: $primary-color;
            }
        }
    }
}
/*-- Footer CSS End --*/

/*-- Scroll Top CSS Start --*/
.scroll-top{
    bottom: -10rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    background: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
    &:hover{
        background: #398fe1;
    }
}
/*-- Scroll Top CSS End --*/

